/* CSS for genevieve.html */


body {
    background-color: #666666;
    font-family: Courier New, monospace;
}

#tagline {
	color: #f2f2f2;
	font-style: italic;
}

h1 {
    color: #ffffff;
    margin-left: 40px;
    font-size: 500%;
    
}

h2 {

	color: #ff6666;
    margin-left: 40px;
    font-size: 250%
}

ul { 
	color: #f2f2f2;
    margin-left: 40px;
}

p {
	color: #f2f2f2;
	text-align: left;
	font-family: Georgia, serif;
	}

span {
	font-style: italic;
}

a {
	font-style: bold
	}