body{
	background-color: f5fffa;
}
h1{
	color: #ffb6c1;
	text-shadow: 255, 215, 0, 0.6;
	text-align: center;
	line-height: 100%;
	text-decoration: underline;
}
h2{
	text-align: justify;
	line-height: 75%;
	font-family: sans-serif;
}