body{
	background-color: f5fffa;
}
h1{
	color: #ffb6c1;
	text-shadow: 2px 2px #ff0000;
	text-align: center;
	text-decoration: underline;
	line-height: 80%;
}
h2{
	text-align: justify;
	line-height: 75%;
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
}